body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  * {
    box-sizing: border-box;
}

.bg-image {
    /* Full height */
    height: 50%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  /* Images used */
  .img1 { 
    background-image: url("/assets/background.jpg");
    height: 200px;
    width: 200px; 
    position: relative;
    left: 40%;
}
  .img2 { 
    background-image: url("/assets/badmintonsticker.webp"); 
    height: 200px;
    width: 200px;
    position: relative;
    left: 40%; 
}
  .img3 { 
    background-image: url("/assets/cricketsticker.webp"); 
    height: 200px;
    width: 200px; 
    position: relative;
    left: 40%;
}
  .img4 { 
    background-image: url("/assets/facebook.png"); 
    height: 200px;
    width: 200px; 
    position: relative;
    left: 40%;
}
  .img5 { 
    background-image: url("/assets/footballkick.png"); 
    height: 200px;
    width: 200px; 
    position: relative;
    left: 40%;
}
  .img6 { 
    background-image: url("/assets/google.jpg"); 
    height: 200px;
    width: 200px; 
    position: relative;
    left: 40%;
}
  
  /* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 48.3%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 200px;
    padding: 20px;
    text-align: center;
}